/* .dah-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: #f9fcff;
    border: 1px solid #d0d9e5;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .dah-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .icon-container {
    font-size: 3rem;
    color: #298AA9;
    margin-bottom: 10px;
  }
  
  .card-content h2 {
    font-size: 2rem;
    margin: 0;
    color: #333;
  }
  
  .card-content p {
    margin: 5px 0 0;
    font-size: 1rem;
    color: #555;
  }
   */